{% extends 'base.html.twig' %}

{% block title %}{{ 'cards.following.title'|trans }}{% endblock %}

{% block body %}
    <h1 class="h3">{{ 'cards.following.title'|trans }}</h1>
    {% include 'cards/search_filter.html.twig' %}

    <p>{{ 'cards.public.number_of_results'|trans({amount: pager.nbResults}) }}</p>

    {% include 'cards/layout/images.html.twig' with {multi_user: true, wishlist: true} %}

    {{ pagerfanta(pager, {omitFirstPage: true}) }}

    <script type="text/javascript">
        const flipCardButtons = document.querySelectorAll('.js-flip-card');
        for (let flipCardButton of flipCardButtons) {
          flipCardButton.addEventListener('click', event => {
            const inner = event.target.closest('.card').querySelector('.flip-card-inner');
            inner.style.transform = ['none', ''].includes(inner.style.transform) ? 'rotateY(-180deg)' : '';
          });
        }
    </script>
{% endblock %}
